body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* font-family: 'Prompt', sans-serif;
  font-weight: 200; */
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: black;
  color: white;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
} 

h1,
nav {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}

li.active {
  text-decoration: underline;
}

h2,
.submitBtn,
.submitArtistBtn {
  font-size: 25px;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

h3 {
  font-size: 20px;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

.page-footer {
  background-color: white;
  color: black;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
}

.no-shadows {
  box-shadow: none!important;
}

.hide {
  display: none;
}

.songData {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.artistData {

}

.albumData {

}

.songInfoDiv {
  margin-top: 10px;
}

.lyricsBtn {
  margin-top: 38px;
}

audio {
  margin-top: 28px;
}

.returnBtn {
  margin-top: 15px;
  margin-bottom: 25px;
}

.userSong {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.userArtist {
  /* font-family: 'Prompt', sans-serif;
  font-weight: 300; */
  font-size: 20px;
}
/*Help page CSS*/

.help-tag {
  font-size: 18px;
  font-family: sans-serif;
}

/*About page CSS*/

.dev-pics {
  margin-top: 205px;
}
