nav {
  background-color: black;
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
}

main {
  flex: 1 0 auto;
}

h1,
nav {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
}

h1 {
  margin-top: 75px;
}

h3 {
  font-size: 20px;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
}

p {
  margin-bottom: 5px;
  margin-top: 5px;
}

img {
  height: 100%;
  /* width: cover; */
}

audio {
  margin-top: 28px;
}

a:hover,
#noteLogo {
  color: #26a69a;
}

.sidenav {
  width: 200px;
}

.active {
  text-decoration: underline;
}

.no-shadows {
  box-shadow: none !important;
}

.descriptiondiv {
  margin-top: 10px;
}

.butlerdiv {
  margin-top: 20px;
  margin-bottom: 0px;
}

.butlerlogo {
  width: 225px;
}

h2,
.submitBtn,
.submitArtistBtn,
.messageBtn,
.goBackBtn {
  font-size: 25px;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
}

.toast {
  /* background-color: #426b67; */
  background-color: #f5c002;
  color: black;
}

.topLinks {
  margin-top: 60px;
}

.topImgs {
  width: 200px;
  border-radius: 50px;
  /* border: 10px #26A69A solid; */
  /* border-style: inset; */
}

.topImgs:hover {
  /* opacity: 75%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
  display: none;
}

.albumImg {
  /* height:100%; */
  width: 100%;
}

.card-title {
  text-shadow: 2px 2px 5px black;
}

.card-image {
  height: 295px;
}

.card-content {
  height: 215px;
  overflow: scroll;
}

.album-image {
  height: auto;
}

.album-content {
  height: 100px;
  overflow: scroll;
}

.songInfoDiv,
.topSongsInfoDiv {
  margin-top: 10px;
}

.songData,
.topSongData {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.userSongDiv,
.userArtistChoice,
.userTopSongDiv {
  margin-bottom: 75px;
}

.lyricsBtn {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  margin-top: 38px;
}

.returnBtn {
  margin-top: 15px;
  margin-bottom: 25px;
}

.songChoice,
.userArtistChoice,
.topSong {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.artistChoice {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.songLyric {
  font-size: 50px;
}

.userTopSongDiv {
  margin-top: 75px;
}

.page-footer {
  background-color: transparent;
  color: black;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 20px;
}

#askwinstonlogo {
  margin-top: 0px;
  margin-bottom: 10px;
}

#noteLogo:hover {
  color: white;
}

#songRadioBtn,
#artistRadioBtn {
  color: black;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

/*Help page CSS*/

.help-tag {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 55px;
}

#homeAddress:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#homeAddress {
  transition: transform 0.5s ease;
}

#contactPhone:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#contactPhone {
  transition: transform 0.5s ease;
}

#email:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#email {
  transition: transform 0.5s ease;
}

/*About page CSS*/

.aboutH1 {
  margin-bottom: 40px;
}

/* .dev-pics {
  margin-top: 100px;
} */

.contact-info {
  margin-top: 200px;
}

.leftArrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow {
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

#inezImage:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#inezImage {
  transition: transform 0.5s ease;
}

#inezBio {
  margin-left: 45px;
  font-size: 18px;
  /* font-family: sans-serif; */
}

#marcBio {
  margin-left: 40px;
  font-size: 18px;
  /* font-family: sans-serif; */
}

#ramonBio {
  font-size: 18px;
  /* font-family: sans-serif; */
}

#marcImage:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#marcImage {
  transition: transform 0.5s ease;
}

#ramonImage:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#ramonImage {
  transition: transform 0.5s ease;
}

/* #meetDevBtn:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#meetDevBtn {
  transition: transform 0.5s ease;
} */

#meetDevBtn {
  margin-bottom: 15px;
}